<template id="<%= name %>">
    <div class="uk-card-small uk-card-default uk-align-center">
        <div class="uk-card-header uk-text-center">
            <h3 class="uk-card-title uk-align-left">{{ type }}</h3>
            <button  v-on:click="changeType" class="uk-icon-button uk-button-primary uk-align-right" uk-icon="icon: pencil; ratio: 1.5">
            </button>
        </div>
        
        <div class="uk-card-body ">
            <form>
                <div class="uk-margin uk-text-center">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input v-model="username_" placeholder="username" class="uk-input" type="text">
                    </div>
                </div>
                
                <div class="uk-margin uk-text-center">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        <input v-model="password" placeholder="password" class="uk-input" type="password">
                    </div>
                </div>
                
                <button v-on:click="login" class="uk-button uk-button-primary uk-align-center">{{ type }}</button>
            </form>
        </div>
    </div> 
</template>    

<script>
    Vue.component('<%= name %>', {
        data: function () {
            return {
                password: '',
                username_: this.username,
                type: 'Sign In'
            }
        },
        methods: {
            login(e) {
                e.preventDefault();
                this.socket.auth = {};
                
                if (this.type == "Sign Up") {
                    this.socket.auth.signup = true;
                }
                
                console.log(this.views);
                
                this.socket.auth.username = this.username;
                this.socket.auth.password = this.password;
                this.socket.auth.views    = this.views
                
                this.socket.connect();
                
                this.password = "";
            },
            changeType() {
                if (this.type == "Sign In") {
                    this.type = "Sign Up";
                } else {
                    this.type = "Sign In";
                }
            }
        },
        props: {
            socket: Object,
            username: String,
            views: Object
        },
        watch:{
            username_ (val) {
                this.$emit("update-username", val);
            }
        },
        template: document.getElementById('<%= name %>').innerHTML
    });
</script>