<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="app" class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center">
    <div v-if="views.login"><%- include('login'); %></div>
  </div> 
</body>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        socket: io(),
        username: '',
        password: '',
        views: {
          login: true,
          signup: false,
          dashboard: false
        }
      }
    },
    methods: {
      login(e) {
        e.preventDefault();
        this.socket.emit('login', this.username, this.password);
      }
    },
    mounted() {
      this.socket.on('error', (err) => {
        UIkit.notification({
          message: err,
          status: 'danger',
          pos: 'top-center',
          timeout: 5000
        });
      });
    }
  });
</script>
</html>